@font-face {
    font-family: GlacialIndifference;
    src: url("../fonts/GlacialIndifference-Regular.otf") format("opentype");
}

@font-face {
    font-family: GlacialIndifference-It;
    src: url("../fonts/GlacialIndifference-Italic.otf") format("opentype");
}

@font-face {
    font-family: GlacialIndifference-B;
    src: url("../fonts/GlacialIndifference-Bold.otf") format("opentype");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: GlacialIndifference, sans-serif;
    color: white;
    overflow-x: hidden;
    font-size: 1.25rem;
}

h1 {
    font-size: 3rem;
    font-family: GlacialIndifference-B, sans-serif;
}

h2 {
    font-size: 2.5rem;
    font-family: GlacialIndifference-B, sans-serif;
}

h3 {
    font-size: 2rem;
    font-family: GlacialIndifference-B, sans-serif;
}

h4 {
    font-size: 1.5rem;
    font-family: GlacialIndifference-B, sans-serif;
}

h5 {
    font-family: GlacialIndifference, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
}

p {
    font-size: 1.25rem;
}

button {
    font-family: GlacialIndifference, sans-serif;
}

.link {
    text-decoration: none;
    color: #2fa5a8;
}

.link:hover {
    text-decoration: underline;
}

.swiper-button-prev {
    background-image: url("../images/circle-left-solid.svg") !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    filter: drop-shadow(0px 0px 10px rgb(0 0 0 / 1));
}

.swiper-button-next {
    background-image: url("../images/circle-right-solid.svg") !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    filter: drop-shadow(0px 0px 10px rgb(0 0 0 / 1));
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev::after {
    display: none;
}

.container {
    padding: 10vh 10vw 10vh 10vw;
}

div {
    box-sizing: border-box;
}

.nav-bar {
    padding: 3vh 10vw 3vh 10vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 999;
    font-family: GlacialIndifference-B, sans-serif;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}

.nav-bar-links {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.nav-bar-links-mobile {
    display: none;
}

.nav-bar-links-mobile a {
    font-family: GlacialIndifference-B, sans-serif;
    text-decoration: none;
    color: white;
}

.logo {
    height: 60px;
}

#menu {
    position: absolute;
    right: 10vw;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none !important;
    cursor: pointer;
}

#close-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgba(199, 16, 46);
}

@media (max-width: 1100px) {

    #close-nav {
        display: block;
    }

    #menu {
        display: block !important;
    }

    .nav-bar {
        display: block;
    }

    .nav-bar-links {
        display: none;
    }

    .nav-bar-links-mobile {
        width: 300px;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: white;
        padding: 30px;
        padding-top: 115.5px;
        display: none;
        z-index: 1001;
    }

    .nav-bar-links-mobile a {
        margin-bottom: 15px;
        color: rgba(199, 16, 46);
    }
}

@media (min-width: 1100px) {
    .nav-bar-links-mobile {
        display: none !important;
    }

    #mask2 {
        display: none !important;
    }
}

.banner {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-text {
    text-align: center;
    z-index: 10;
}


.background {
    background: url('../images/lavamae.jpg');
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.layer {
    background-color: rgba(199, 16, 46, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about {
    width: 100vw;
    background-color: white;
    color: rgba(199, 16, 46);
}

.about-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.about-text {
    width: 45%;
}

.about-image-wrapper {
    width: 45%;
    position: relative;
}

.about-image-wrapper h4 {
    position: absolute;
    bottom: 0;
    margin: 15px;
    text-shadow: 0px 0px 20px #000000;
    color: white;
}

.about-image {
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.attention {
    font-family: GlacialIndifference-B, sans-serif;
    color: #2fa5a8;
}

.service-list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.service-list li {
    margin-right: 15px !important;
    width: fit-content;
    background-color: white;
    margin: 0 0 10px 0;
    color: rgba(199, 16, 46);
    padding: 10px;
    border-radius: 15px;
}

.service-list:last-child {
    margin-right: 0px !important;
}

.event-text {
    width: 30%;
}

.event-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: bottom;
}

.partners {
    color: white;
}

.swiper1 {
    width: 100%;
    height: 100px;
}

.swiper1-slide {
    width: 300px !important;
    border-style: solid;
    border-radius: 3px;
    border-color: white;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.swiper1-slide a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper1-slide a img {
    width: 100%;
}

.get-involved {
    background-color: white;
    color: rgba(199, 16, 46);
}

.get-involved-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.get-involved-flex .info-wrapper {
    width: 30%;
    height: fit-content;
    background-color: #e5e5e5;
    border-radius: 15px;
    position: relative;
}


.get-involved-flex img {
    width: 100%;
    height: 40%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.get-involved-flex .opportunity {
    width: 100%;
    padding: 0 15px 60px 15px;
    min-height: 250px;
}

.button {
    margin: 15px;
    padding: 10px;
    color: white;
    background-color: rgba(199, 16, 46);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(255, 27, 65);
    transition: all 0.2s;
    text-decoration: none;
}

.get-involved-button {
    position: absolute;
    bottom: 0;
    font-size: 1rem;
}

.swiper2 {
    width: 100%;
    height: fit-content;
}

.swiper2-slide {
    height: 400px !important;
    width: 300px !important;
    position: relative;
}

.swiper2-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.swiper2-slide h4 {
    position: absolute;
    bottom: 0;
    margin: 15px;
    text-shadow: 0px 0px 20px #000000
}

.youth-leadership {
    background-color: white;
    color: rgba(199, 16, 46);
}

.swiper3 {
    width: 100%;
    height: fit-content;
}

.swiper3-slide {
    height: 200px !important;
    width: 300px !important;
    color: white;
    position: relative;
    background: rgb(231, 231, 231);
    background: linear-gradient(45deg, rgba(231, 231, 231, 1) 0%, rgba(144, 144, 144, 1) 100%);
    border-radius: 15px;
}

.swiper3-slide h4 {
    position: absolute;
    bottom: 0;
    margin: 15px;
    text-shadow: 0px 0px 20px #000000
}

.swiper4 {
    width: 100%;
    height: 100px;
}

.swiper4-slide {
    width: auto !important;
    border-style: solid;
    border-radius: 3px;
    border-color: white;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.swiper4-slide a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper4-slide a img {
    height: 100%;
    width: auto;
}


#mask {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: none;
}

#mask2 {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 80vh;
    width: 80vw;
    margin: 10vh 10vw 10vh 10vw;
    z-index: 1001;
    border-radius: 15px;
    padding: 15px;
    overflow-y: auto;
    display: none;
}

.close {
    position: absolute;
    right: 15px;
    top: 15px;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
}

.close:hover {
    color: rgba(199, 16, 46);
    transition: color 0.2s;
}

#countdown {
    display: flex;
    justify-content: center;
}

#countdown h4 {
    margin: 0;
}

#countdown div {
    width: 50px;
    background-color: white;
    color: rgba(199, 16, 46);
    border-radius: 5px;
    margin: 0 5px 0 5px;
    height: min-content;
    padding: 5px;
}

.time-unit {
    font-size: 1rem;
    margin: 0;
}

.accordion {
    background-color: #e5e5e5;
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1rem;
    font-family: GlacialIndifference, sans-serif;
    margin-top: 15px;
    border-radius: 15px;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 1rem;
}

.panel p {
    font-size: 1rem;
}

.job-button {
    background-color: rgba(199, 16, 46);
    padding: 10px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.job-button:hover {
    background-color: rgb(255, 27, 65);
    transition: background-color 0.2s;
}

.accordion:after {
    content: 'Details';
    /* Unicode character for "plus" sign (+) */
    color: rgba(199, 16, 46);
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "Close";
    /* Unicode character for "minus" sign (-) */
}

.job-description {
    color: #444;
}


.free-stuff {
    background-color: white;
}

.team-flex {
    display: flex;
    flex-wrap: wrap;
}

.team-flex ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.team-flex div {
    width: 100%;
}

.team-flex ul li {
    list-style: none;
    margin-bottom: 15px;
    margin-right: 30px;
    max-width: 300px;
}

.team-flex ul li:last-child {
    margin-bottom: 0;
    margin-right: 0;
}

.team-flex h5,
.team-flex p {
    padding: 0;
    margin: 0;
}

footer {
    background-color: rgba(99, 8, 22, 1);
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    flex-wrap: wrap;
}

footer p {
    font-size: 1rem;
}

footer a {
    text-decoration: none;
    color: white;
}

.footer-desc {
    width: 300px;
    margin-bottom: 15px;
}

footer div {
    margin-bottom: 15px;
    margin-right: 30px;
}

footer div:last-child {
    margin-bottom: 0;
    margin-right: 0;
}

@media (max-width: 520px) {
    .footer-desc {
        width: 100%;
    }
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: fit-content;
}

footer li {
    margin: 0.5rem 0 0.5rem 0;
}

.copyright {
    padding: 15px 10vw 15px 10vw;
    font-size: 1rem;
    border-top: 1px solid rgba(199, 16, 46, 0.5);
    background-color: rgba(99, 8, 22, 1);
}

video[poster] {
    object-fit: cover;
}

@media (max-width: 1000px) {
    .get-involved-flex .info-wrapper {
        width: 100%;
        margin-bottom: 30px;
    }

    .get-involved-flex img {
        height: 300px;
    }

    .about-text {
        width: 100%;
    }

    .about-image-wrapper {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .banner-text h1 {
        font-size: 2rem;
    }

    .banner-text h2 {
        font-size: 1.5rem;
    }

    .banner-text h3 {
        font-size: 1.25rem;
    }
}

@media (max-width: 375px) {

    .swiper1-slide,
    .swiper2-slide,
    .swiper3-slide {
        width: 100% !important;
    }
}